
/*** COMMON CONTROLS DESIGN ***/

div.common-dialog { margin-top:2px; }

div.common-dialog h3 { margin-left:13px; }

div.common-filter { margin:0px; display:block; }
div.common-filter select.popup { height:28px; margin-top:1px; margin-bottom:1px; }

div.common-confirmation h4 { font-size:11px; padding-left:30px; padding-right:30px; line-height:16px; }
div.common-confirmation ul { margin:0px; }
div.common-confirmation li { 
    background-color:#EFE4D4; /* #C86F6D #EFD4D4 */
    border:1px solid #ccc; 
    list-style-type:none; 
    font-size:12px; 
    padding: 0 10px 0 10px; 
}

div.common-confirmation td.selected { background-color:#A52A2A; color:white !important; }
div.common-confirmation dd { margin-right:5px; }

div.common-box { margin:10px; padding:10px; border:1px solid #e7e7e7; } /* overflow-x:hidden; overflow-y:scroll;*/
div.common-box::-webkit-scrollbar, div.common-box div::-webkit-scrollbar, div.common-box table::-webkit-scrollbar {
    width:10px;
}
div.common-box h4 { font-size:11px; padding-left:10px; line-height:16px; }

div.common-panel label > span { font-size:11px; display:inline-block; }
div.common-panel label > input[type="checkbox"] { margin:0 6px 0 12px; }

div.common-next { margin-top:5px !important; }

.common-mark { padding-left:5px; color:#aaa; display:inline-block; vertical-align:sub; }

form.common-form { margin:0; padding:0; }

div.common-tab-head {
    border:0px solid #000;
    position:relative;
}

div.common-tab-head ul { padding:0; margin:0; }
div.common-tab-head li { 
    display:inline-block;
    list-style-type:none;
    font-size:12px;
    border:1px solid #aaa;
    text-align:center;
    padding:2px;
}

div.common-tab-head a { 
    white-space:nowrap;
    cursor:pointer;
    line-height:24px;
    padding:10px;
    color:#402000;
    font-weight:normal;
    font-size:11px;
}

div.common-tab-head li.selected { 
    background-color:#e7e7e7;
    border-bottom:1px solid #e7e7e7;
    position:relative;
    z-index:9;
}

div.common-tab-head-top li.selected { border-bottom:0 none; }
div.common-tab-head-bottom li.selected { border-top:0 none; }
div.common-tab-data-top, div.common-tab-data-bottom {
    background-color:#e7e7e7;
    position:relative;
    z-index:8;
    border:1px solid #aaa;
    padding:5px 5px 10px 5px;
}

div.common-tab-data-top { margin-top:-2px; } /* padding-right:18px; */
div.common-tab-data-bottom { margin-bottom:-2px; }
div.common-box dd.selected { border:1px solid #441010; background-color:#C82000; color:#ffffff; }
div.common-box hr { color:#777; margin:10px 0; }

div.common-input .string {}
div.common-input .date { font-family:Helvetica, Arial; font-size:14px; width:130px; }

div.common-field dt, div.common-field dd { display: inline-block; }
div.common-field div.caption { 
    font-weight:normal; 
    margin-left:10px;
    font-size:12px;
}
div.common-field h3 { font:bold 14px Tahoma, Arial; }
div.common-field div.common-input { 
    padding:0 10px 0 10px; 
}
dt.common-title { vertical-align:top; margin-top:6px; }
dt.common-title, dt.common-title .caption { 
    width:160px; 
}
div.common-field > label > span { font-size:12px; }

div.common-new-item { margin-top:5px; }

div.common-combo select { max-width:314px; min-width:auto; }
div.common-combo input  { width:300px; padding:4px 6px; }

div.common-with-links { padding:5px 10px 5px 10px; color:#777; }
div.common-with-links-pages { margin-top:5px; }
div.common-with-links span { line-height:40px; }
div.common-with-links input.string { 
    width:60px;
    margin:0 5px 0 5px;
    text-align:center;
}
div.common-with-links button.btn { 
    font-size:18px;
    font-family:-webkit-body;
    margin-top:-2px;
}
a.with-links-link { cursor:pointer; }

div.common-filter ul.radiofilter { margin:0 0 0 25px; }
div.common-filter ul.radiofilter li { list-style-type:none; margin:0; padding:0; white-space:nowrap; }
div.common-filter ul.radiofilter li>div { display:inline-block; }
div.common-filter ul.radiofilter li>div.input { padding:0; margin:0; vertical-align:top; }
div.common-filter ul.radiofilter li>div.label { padding:3px 10px 3px 3px; background-color:#4c555a; }
div.common-filter ul.radiofilter input { padding:0; }
div.common-filter ul.radiofilter label { padding:0; }

/*** Window:Confirmation ***/

#confirm-container { font-family: Arial; }
#confirm-container h3 { font-size:13px; font-weight:bold; line-height:16px; white-space:normal; padding-left:2px; color:#333333; }
#confirm-info { 
    background-color:#FFFFE8;
    border:1px solid #84BCED; 
    font-family:Arial, "Lucida Grande"; 
    font-size:14px; 
    font-weight:normal; 
    white-space:nowrap;
    padding:10px; 
    margin:10px; 
    text-align:center; 
    color:#660000;
}
#confirm-info span { 
    font-family:Arial, "Lucida Grande"; 
    font-size:14px; 
    font-weight:normal; 
    margin-left:15px;
}
#confirm-info p { 
    margin:0px;
}

/*** Window:Notification ***/

#notification-container { font-family: Arial; }
#notification-container h3 { font-size:13px; font-weight:bold; line-height:16px; white-space:normal; padding-left:2px; color:#333333; }
#notification-info { 
    background-color:#FFFFE8;
    border:1px solid #84BCED; 
    font-family:Arial, "Lucida Grande"; 
    font-size:14px; 
    font-weight:normal; 
    white-space:nowrap;
    padding:10px; 
    margin:10px; 
    text-align:center; 
    color:#660000;
}
#notification-info span { 
    font-family:Arial, "Lucida Grande"; 
    font-size:14px; 
    font-weight:normal; 
    margin-left:15px;
}
#notification-info p { 
    margin:0px;
}

/*** Window:Error ***/

#error-container { 
    background-color:red !important;
    padding:0;
    max-width:60%;
    min-width:520px !important;
    border-radius:12px;
    position:fixed; top:0px; left:0px;
    -webkit-box-shadow: 0px 0px 30px #14314F;
    box-shadow: 0px 0px 30px #14314F;
    z-index:999;
}

#error-info {
    margin:10px; 
    border:1px solid #ffffff; 
    border-radius:8px; 
    text-align:center;
    padding:10px 40px 10px 40px;
    font-family:Arial;
    font-style:normal;
    font-size:12px;
    color:#ffffff;
}

#error-info h3 { font:bold 16px Arial; text-align:center; line-height:10px; letter-spacing:2px; white-space:nowrap; color:#ffffff; }
#error-info p { 
    margin:10px 0 10px 0; 
    font-weight:bold; 
    line-height:16px; 
    font-size:13px; 
    font-family:Arial; 
    width:100%;
    max-width:100%;
    text-align:center;
}

.sorticon { cursor:pointer; margin:0; padding:5px; }

/*** Ext Templates ***/

.caption-container a.rendered_link { color:white; }
.caption-container a.rendered_link:hover { color:#a6acf4; text-decoration:none; }

.ext-page .line .column {
    background-color:#f7f7f7;
    border:1px solid #842020;
    border-radius:4px;
    padding:10px;
    color:#222;
    margin:0 5px 0 5px;
}

.notification-errors {
    text-align:left;
    padding:10px 10px 10px 144px;
}

#total_selected { padding:0 5px 0 0; }

div.total-selected-container {
    background-color:#804040;
    border:1px solid #646;
    color:white;
    text-align:center;
    font-size:16px;
    padding:10px;
    position:fixed; top:0; left:0; width:0; height:0;
    -webkit-box-shadow: 0px 3px 20px #14314F;
    box-shadow: 0px 3px 20px #14314F;
}

/*** Monopage Panel Controls  ***/

.panel { padding:0; margin:0; }
.panel_default {}

.panel_heading { background-color: rgb(122 122 122 / 33%); }
h3.panel_title {
    margin:  0;
    padding: 10px;
}

div.panel_body {
    padding: 0;
    margin: 0;
    text-align: left;   
}

div.panel_footer { 
    width: auto; 
}

div.panel {
    margin: 0;
    display:flow-root;
}

div.panel_footer { 
    background-color:#eee;
    overflow-y: auto; 
}

form {
    margin: 0;
    padding:0;
}
.active {
    border:2px solid #777;
}

/*** Monopage Paging Controls  ***/

div.view-bottom { display:block; text-align: right; }
div.view-bottom div { display: inline-block; }

div.view-data-buttons button { display: inline-block; float-left; }

div.paging { 
    width: fit-content; 
    height:40px;
    text-align:left;
    margin-right: 8px;
    display: inline-block; 
    text-align: right;
}

div.tab-paging { 
    font-size:12px;
    display:inline-block;
}

/*** Monopage Paging Buttons ***/

.tab-paging table { border-spacing:3px; }
.tab-paging td { border:0; font-size:1.1em; }
.page-navigate-buttons { display:block; }
.navigate-buttons li { display:inline-block; }

.navigate-buttons {
    padding-inline-start: 20px;
    margin:0;
    margin-top:1px;
}

.row-button {
    padding:5px 5px 3px 5px;
    border: 1px solid #ccc;
    margin:0;
    list-style-type: none;
}

a.hidelink {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-row-button { background-image:url(/static/images/btns/FirstBtn.png); }
.prev-row-button { background-image:url(/static/images/btns/PriorBtn.png); }
.next-row-button { background-image:url(/static/images/btns/NextBtn.png); }
.last-row-button { background-image:url(/static/images/btns/LastBtn.png); }

/*** Controls ***/

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] {
    box-shadow: inset 0 3px 8px rgb(0 0 0 / 10%);
    -webkit-box-shadow: inset 0 3px 8px rgb(0 0 0 / 10%);
}
